<div class="tw-flex tw-justify-center tw-items-center tw-h-[93vh]">
  <div class="tw-w-1/2 tw-h-full tw-p-4 tw-flex tw-justify-center tw-items-center">
    <div class="tw-bg-white tw-shadow-md tw-rounded-lg tw-w-full tw-h-full tw-p-6 tw-flex tw-flex-col">
      <h1 class="tw-flex tw-justify-center tw-font-bold tw-text-2xl">Agentic Chatbot</h1>
      <div #scrollableTextContent id="scrollableTextContent" class="tw-flex-1 tw-flex tw-overflow-y-auto tw-flex-col tw-items-stretch tw-gap-2 tw-pt-4 tw-px-4">
        <app-text-system [message]="greeting[0]"></app-text-system>
        <div class="tw-flex tw-flex-wrap tw-gap-4 tw-justify-center tw-my-4">
          <ng-template #questionTemplate let-question let-i="index">
            <ng-container [ngTemplateOutlet]="questionBtn" [ngTemplateOutletContext]="{ question: question, index: i }"></ng-container>
          </ng-template>
          <ng-container>
            <ng-container *ngFor="let question of suggestedQns; let i = index">
              <ng-container [ngTemplateOutlet]="questionBtn" [ngTemplateOutletContext]="{ question: question, index: i }"></ng-container>
            </ng-container>
          </ng-container>
          <ng-template #questionBtn let-question="question" let-i="index">
            <button
              type="button"
              class="suggestion-card tw-bg-white tw-px-4 tw-py-2 tw-shadow-md tw-rounded-lg tw-w-full sm:tw-w-[40%] tw-flex-grow-0 tw-flex-shrink-0"
              (click)="suggestedQn(question)"
            >
              <p class="tw-text-left">{{ question }}</p>
            </button>
          </ng-template>
        </div>
        @for (message of messages; track message) {
          @if (message.message.trim()) {
            @switch (message.role) {
              @case (user) {
                <app-text-user [message]="message"></app-text-user>
              }
              @case (system) {
                <app-text-system [message]="message"></app-text-system>
                <div
                  class="tw-pr-[0px] tw-w-full tw-flex tw-flex-row tw-justify-start tw-items-start"
                  [ngClass]="{
                    'tw-pr-[0px]': true,
                    'tw-w-full': true,
                    'tw-flex': true,
                    'tw-flex-row': true,
                    'tw-justify-start': true,
                    'tw-items-start': true
                  }"
                  tabindex="-1"
                >
                  <button
                    class=""
                    [class]="'tw-overflow-auto tw-font-bold tw-px-3 tw-py-2 tw-rounded-2xl ' + (isLoggedIn ? 'content-card' : 'tw-bg-red-500 tw-text-white')"
                    (click)="SingpassLogin()"
                  >
                    {{ isLoggedIn ? "Login successfully." : "Log in with Singpass" }}
                  </button>
                </div>
              }
            }
          }
        }
      </div>
      <div class="tw-mt-auto tw-w-full tw-max-w-[860px]">
        <app-text-input></app-text-input>
      </div>
    </div>
  </div>
  <div class="tw-w-1/2 tw-h-full tw-p-4 tw-flex tw-justify-center tw-items-center">
    <div class="tw-bg-white tw-shadow-md tw-rounded-lg tw-w-full tw-h-full tw-p-6 tw-flex tw-flex-col">
      <h1 class="tw-flex tw-justify-center tw-font-bold tw-text-2xl">Data Preview</h1>
      <div *ngIf="isSinpassLogin" class="tw-flex tw-flex-col tw-h-full tw-overflow-hidden">
        <!-- Header with logo -->
        <div class="tw-mb-6">
          <div class="tw-flex tw-items-center">
            <div class="tw-text-red-500 tw-text-2xl tw-font-bold"><span>s</span><span class="tw-text-red-600">i</span><span>ngpass</span></div>
          </div>
          <!-- Warning banner -->
          <div class="tw-mt-6 tw-bg-gray-100 tw-rounded-md tw-p-4">
            <div class="tw-flex tw-justify-between tw-items-center tw-text-gray-800 tw-font-medium tw-mb-2">
              <span>Beware of impersonation scams</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="tw-h-5 tw-w-5" viewBox="0 0 20 20" fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <p class="tw-text-sm tw-text-gray-700">
              Government officials will NEVER ask you to transfer money or disclose banking details over a phone call. Call the 24/7 ScamShield Helpline at 1799
              if you are unsure if something is a scam.
            </p>
          </div>
        </div>
        <!-- Sinpass section -->
        <div class="tw-flex tw-flex-col tw-items-center tw-flex-grow tw-overflow-hidden">
          <h2 class="tw-text-2xl tw-font-bold tw-text-gray-800 tw-mb-1">Log in with Singpass</h2>
          <p class="tw-text-gray-600 tw-mb-8">Your trusted digital identity</p>
          <!-- Tabs -->
          <div class="tw-flex tw-w-full tw-max-w-md tw-mb-6">
            <button
              (click)="toggleForm()"
              [class.tw-text-red-500]="isSignUp"
              [class.tw-border-red-500]="isSignUp"
              [class.tw-text-gray-400]="!isSignUp"
              [class.tw-border-gray-200]="!isSignUp"
              class="tw-flex-1 tw-py-2 tw-border-b-2"
            >
              Sign up
            </button>
            <button
              (click)="toggleForm()"
              [class.tw-text-red-500]="!isSignUp"
              [class.tw-border-red-500]="!isSignUp"
              [class.tw-text-gray-400]="isSignUp"
              [class.tw-border-gray-200]="isSignUp"
              class="tw-flex-1 tw-py-2 tw-border-b-2"
            >
              Password login
            </button>
          </div>
          <!-- Form section -->
          <div class="tw-w-full tw-max-w-md tw-flex-grow tw-overflow-hidden">
            <div class="tw-h-full tw-overflow-y-auto">
              <form *ngIf="!isSignUp" [formGroup]="loginForm" class="tw-space-y-4">
                <div>
                  <input pInputText type="text" placeholder="Email" formControlName="username" class="tw-w-full tw-p-3" />
                </div>
                <div>
                  <input pInputText type="password" placeholder="Password" formControlName="password" class="tw-w-full tw-p-3" />
                </div>
                <button
                  type="submit"
                  (click)="login()"
                  class="tw-w-full tw-bg-red-500 tw-text-white tw-py-3 tw-rounded-md tw-font-medium hover:tw-bg-red-600 tw-transition"
                >
                  Log in
                </button>
              </form>
              <form *ngIf="isSignUp" [formGroup]="signupForm" class="tw-space-y-4">
                <div>
                  <input pInputText type="text" placeholder="NRIC" formControlName="nric" class="tw-w-full tw-p-3" />
                </div>
                <div>
                  <input pInputText type="text" placeholder="First Name" formControlName="first_name" class="tw-w-full tw-p-3" />
                </div>
                <div>
                  <input pInputText type="text" placeholder="Last Name" formControlName="last_name" class="tw-w-full tw-p-3" />
                </div>
                <div>
                  <input pInputText type="text" placeholder="Email" formControlName="email" class="tw-w-full tw-p-3" />
                </div>
                <div>
                  <input pInputText type="text" placeholder="Date of Birth (YYY-MM-DD)" formControlName="date_of_birth" class="tw-w-full tw-p-3" />
                </div>
                <div>
                  <input pInputText type="text" placeholder="Gender" formControlName="gender" class="tw-w-full tw-p-3" />
                </div>
                <div>
                  <input pInputText type="text" placeholder="Postal Code" formControlName="postal_code" class="tw-w-full tw-p-3" />
                </div>
                <div>
                  <input pInputText type="password" placeholder="Password" formControlName="password" class="tw-w-full tw-p-3" />
                </div>
                <div>
                  <input pInputText type="password" placeholder="Enter password again" formControlName="cfm_password" class="tw-w-full tw-p-3" />
                </div>
                <button
                  type="submit"
                  (click)="signup()"
                  class="tw-w-full tw-bg-red-500 tw-text-white tw-py-3 tw-rounded-md tw-font-medium hover:tw-bg-red-600 tw-transition"
                >
                  Sign up
                </button>
              </form>
              <!-- Help links -->
              <div class="tw-flex tw-justify-between tw-mt-6 tw-text-blue-500">
                <a href="#" class="hover:tw-underline">Retrieve Singpass ID</a>
                <a href="#" class="hover:tw-underline">Reset password</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isLoggedIn" class="tw-flex-1 tw-flex tw-flex-col tw-overflow-hidden">
        <div class="tw-p-6 tw-flex-shrink-0">
          <h2 class="tw-text-3xl tw-font-bold tw-mb-2">Johnny</h2>
          <div class="tw-mb-6">
            <p class="tw-text-gray-700"><span class="tw-font-medium">Enrolled: </span> <b>Sengkang Polyclinic</b></p>
            <p class="tw-text-gray-700"><span class="tw-font-medium">Address: </span> <b>544756</b></p>
          </div>
        </div>
        <div class="tw-overflow-y-auto tw-flex-1 tw-px-6">
          <div class="tw-bg-gray-100 tw-rounded-lg tw-p-6 tw-mb-6">
            <h3 class="tw-text-xl tw-font-bold tw-mb-6">Current Vaccination</h3>
            <div class="tw-overflow-y-auto">
              @for (v of vaccinations; track vaccinations) {
                <div class="tw-border-b tw-border-gray-500 tw-pb-4 tw-mb-4 tw-max-w-md">
                  <div class="tw-flex tw-items-center tw-justify-between">
                    <span class="tw-font-medium">{{ v }}</span>
                    <span class="tw-text-green-500 tw-font-medium tw-mr-[150px]">Vaccinated</span>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="tw-flex tw-justify-end tw-font-bold tw-mt-auto tw-p-6 tw-flex-shrink-0">
        <div class="tw-flex tw-justify-center tw-items-center">
          <div class="tw-bg-gradient-to-r tw-from-red-400 tw-via-pink-500 tw-to-purple-500 tw-rounded-full tw-px-8 tw-py-3 tw-w-full tw-max-w-md">
            <p class="tw-text-white tw-text-center tw-font-bold tw-text-2xl">Powered by AI</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
